/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root{
	/* Colors */
	--c-pink: 181 84 121;
	--c-purple: 65 67 97;
	--c-dark: 17 17 22;
	--c-light: 237 243 244;
	--c-lightBlue: 141 153 174;

	/* Font Sizes */
	--fs-900: 9.375rem;
	--fs-800: 6.25rem;
	--fs-700: 3.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-450: 1.5rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* Font Families */
	--ff-display: 'Bebas Neue', cursive;
	--ff-sans: 'Barlow', sans-serif;
	--ff-sans-cond: "Barlow Condensed", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

/* Used https://piccalil.li/blog/a-modern-css-reset/ for reference*/

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;	
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
	font-weight: 400;
}

/* Remove list styles */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb( var(--c-dark) );
  color: rgb( var(--c-light) );
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
}

/* Links that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- */
/* Utility Classes        */
/* ---------------------- */

/* Colors */
.bg-dark { background-color: rgb( var(--c-dark) );}
.bg-pink { background-color: rgba( var(--c-pink) ); }
.bg-purple { background-color: rgb( var(--c-purple) );}
.bg-lightBlue { background-color: rgb( var(--c-lightBlue) );}
.bg-light { background-color: rgb( var(--c-light) )!important;}

.text-dark { color: rgb( var(--c-dark) );}
.text-accent { color: rgb( var(--c-pink) );}
.text-light { color: rgb( var(--c-light) );}
.text-purp {color: rgb( var(--c-purple) );}

a.text-accent:hover,
a.text-accent:focus{
	color: rgb( var(--c-light) / .65 ) ;
}

/* Typography */
.ff-display { font-family: var(--ff-display); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans { font-family: var(--ff-sans); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.upper { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-450 { font-size: var(--fs-450); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/* Components */

.btn-accent {
	background-color: rgb( var(--c-pink) / .65);
	color: rgb( var(--c-light) / .8);
}

.btn-accent:hover {
	background-color: rgb( var(--c-pink) / .8 );
	color: rgb( var(--c-light) / 1 );
	border-color: rgb( var(--c-purple) / .4 );
}

.accDisplay {
	font-family: var(--ff-display);
	font-size: var(--fs-700);
	color: rgb( var(--c-pink) );
}

.title {
	border-bottom: 1px solid rgb(var( --c-light ));
	padding-bottom: .5rem;
}

/* ---------------------- */
/* Layout                 */
/* ---------------------- */

section {
	padding: 3em;
}

section.tight{
	padding: 0;
}

main {
	min-height: 80vh;
}

.fullWidth {
	width: 100vw;
	max-width: 100%;
}


/* ---------------------- */
/* Navigation             */
/* ---------------------- */

.underline .nav-item {
  	position: relative;
}

.underline .nav-item::after {
  	position: absolute;
  	bottom: 0;
  	left: 0;
 	 right: 0;
  	margin: auto;
  	background-color: rgb( var(--c-pink) / .25 );
  	width: 0%;
  	content: "";
  	height: 4px;
  	transition: all 0.5s;
}

.underline .active::after {
	width: 100%;
	background-color: rgb( var(--c-pink) / .75 );
}

.underline .nav-item:hover::after {
  	width: 100%;
}

@media only screen and (max-width: 992px) {

	.underline .nav-item::after {
		width: 0%!important;
	}

	#mainNav .nav-item:hover {
		background-color: rgb( var(--c-lightBlue) / .15 );
	}

	#mainNav .nav-item {
		border-radius: 10px;
		padding: 5px;
		text-align: center;
	}

}

/* ---------------------- */
/* Footer                 */
/* ---------------------- */

footer .links a {
	color: rgb( var(--c-purple) );
	text-decoration: none;
}

footer .links a:hover,
footer .links a:focus{
	color: rgb( var(--c-pink) );
}

footer section {
	padding: 1.5em;
}

.linkSec{
	margin-bottom: .5em;
	padding-bottom: 5px;
}

@media only screen and (min-width: 992px) {

	footer .links > .row > * + * {
		border-left: 2px solid rgb( var(--c-pink) / .8);
		height: 100%;
	}

}

@media only screen and (max-width: 992px) {

	.linkSec{
		border-bottom: 2px solid rgb( var(--c-pink) / .8);
	}

}


/* ---------------------- */
/* Home Page              */
/* ---------------------- */

.carousel-inner img{
	height: 75vh;
	max-width: 65vw;
	object-fit: scale-down;
	margin: auto;
}

.carousel-caption {
	background-color: rgb( var(--c-dark) / .85 );
	font-size: var(--fs-500);
}

#calendar .title {
	border-bottom: 3px solid rgb( var(--c-pink) );
}

#calendar .dates .list-group-item {
	margin-top: 1em;
	background-color: rgb( var(--c-light) );
}

#contactForm .row {
	margin-top: 3em;
} 

#contactForm textarea {
	min-height: 10em;
}

#contactForm input,
#contactForm textarea{
	padding: 1rem;
}

#contactForm .btn-accent{
	border: 2px solid rgb( var(--c-light) / .3 );
}

#contactForm.btn-accent:hover{
	border-color: rgb( var(--c-light) / .9 );
}

/* Giftbox, used https://codepen.io/ElaineXu/pen/EWvGWX for reference */

#items{
	padding: 0;
}

/* ---------------------- */
/* About Page             */
/* ---------------------- */

@media only screen and (max-width: 768px) {

	.about .desc {
		font-size: var(--fs-400);
	}	

}

/* ---------------------- */
/* Sources Page           */
/* ---------------------- */

.citations *{
	text-indent: -3em;
	padding-left: 3em;
	margin-top: 1em;
	overflow-wrap: break-word;
}

/* ---------------------- */
/* Past Page              */
/* ---------------------- */

#video iframe {
	max-width: 100%;
}
